<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="hospital">
      <h2 data-cy="hospitalDetailsHeading"><span>Hospital</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ hospital.id }}</span>
        </dd>
        <dt><span>Hospital Name</span></dt>
        <dd>
          <span>{{ hospital.hospitalName }}</span>
        </dd>
        <dt><span>Hospital Location</span></dt>
        <dd>
          <span>{{ hospital.hospitalLocation }}</span>
        </dd>
        <dt><span>Live Location</span></dt>
        <dd>
          <div *ngIf="hospital.liveLocation">
            <a [routerLink]="['/live-location', hospital.liveLocation.id, 'view']">{{ hospital.liveLocation.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/hospital', hospital.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
