<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="dangerZone">
      <h2 data-cy="dangerZoneDetailsHeading"><span>Danger Zone</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ dangerZone.id }}</span>
        </dd>
        <dt><span>Zone Name</span></dt>
        <dd>
          <span>{{ dangerZone.zoneName }}</span>
        </dd>
        <dt><span>Zone Description</span></dt>
        <dd>
          <span>{{ dangerZone.zoneDescription }}</span>
        </dd>
        <dt><span>Zone Location</span></dt>
        <dd>
          <span>{{ dangerZone.zoneLocation }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/danger-zone', dangerZone.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
